nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto 0;
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #34495e;
  font-size: 0;
  gap : 10px;
  padding : 0 10px;
} 
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
  
}
nav .menu-icon {
  font-size: 26px;
  color: white;   
  cursor: pointer; 
  z-index: 2; 
  transition: transform 0.2s;
}

nav .menu-icon:hover {
  transform: scale(1.2);   
}

nav .animation {
  position: absolute;
  height: 100%;
  width: 100px;
  top: 0;
  right: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 110px;
}
a:nth-child(3) {
  width: 100px;
}

nav .start-home, a:nth-child(1):hover~.animation {
  width: 100px;
  right: 277px;
  background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
  width: 110px;
  right: 159px;
  background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
  width: 100px;
  right: 48px;
  background-color: #3498db;
}


body {
  font-size: 12px;
  font-family: sans-serif;
  background: white;
}

.row-container {
  display: flex;
  justify-content: space-between; /* กล่องซ้าย ปุ่มขวา */
  align-items: center;            /* ✅ ให้อยู่ระดับเดียวกันแนวนอน */
  margin: 50px 100px 50px 50px;   /* บน-ขวา-ล่าง-ซ้าย */;            
}

.button-container {
  display: flex;
  justify-content: flex-end; /* ปุ่มอยู่ขวา */
  align-items: center;       /* อยู่ระดับเดียวกันกับกล่อง */
  padding-right: 50px;
  margin-top: 10px;          /* ระยะห่างจากกล่องก่อนหน้า */
}

.btn {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px 5px 5px 5px;  /* มุมโค้งขวา */
  background-color: #3498db;
  color: white;
  cursor: pointer;
}